<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            
            <h3>select topics</h3>
            {% for to in Topic %}
                <label for="tname">{{to.tn}}</label>
                <input type="checkbox" name="tname" id="tname" value="{{to.tn}}">
            {% endfor %}
            </select><br><br>


            <input type="submit" value="checkbox">
        </form>
       
    </center>
</body>
</html>